
<section id="wrapper">
						

						<!-- Content -->
							<div class="wrapper" style="margin: 0 0!important;">
								<div class="inner">

									
									<h3 class="major">Nos artistes</h3>
									
									<section class="features parent-element">
										<article>
											<a href="anhvu.html" class="image imageartiste"><img src="musique/anh-vu/PROFIL.jpg" alt="" /></a>
											<h3 class="major">Anh-Vu Nguyen</h3>
											
											<a href="anhvu.html" class="special">Explorer</a>
										</article><article>
											<a href="44.html" class="image imageartiste"><img src="musique/44/PROFIL.jpg" alt="" /></a>
											<h3 class="major">Quentin Sopheap</h3>
											
											<a href="44.html" class="special">Explorer</a>
										</article><article>
											<a href="estienne_goigoux.html" class="image imageartiste"><img src="musique/estienne goigoux/PROFIL.jpg" alt="" /></a>
											<h3 class="major">Estienne Goigoux</h3>
											
											<a href="estienne_goigoux.html" class="special">Explorer</a>
										</article><article>
											<a href="evan_rabenasolo.html" class="image imageartiste"><img src="musique/evan rabenasolo/PROFIL.jpg" alt="" /></a>
											<h3 class="major">Evan Rabenasolo</h3>
											
											<a href="evan_rabenasolo.html" class="special">Explorer</a>
										</article><article>
											<a href="mathieu_serandour.html" class="image imageartiste"><img src="musique/mathieu_serandour/PROFIL.jpg" alt="" /></a>
											<h3 class="major">Mathieu Sérandour</h3>
											
											<a href="mathieu_serandour.html" class="special">Explorer</a>
										</article><article>
											<a href="benj.html" class="image imageartiste"><img src="musique/benj tissot/PROFIL.jpg" alt="" /></a>
											<h3 class="major">Benj Tissot</h3>
											
											<a href="benj.html" class="special">Explorer</a>
										</article><article>
											<a href="pierre_rakotondrafara.html" class="image imageartiste"><img src="musique/pierre rakotondrafara/PROFIL.jpg" alt="" /></a>
											<h3 class="major">Pierre Rakotondrafara</h3>
											
											<a href="pierre_rakotondrafara.html" class="special">Explorer</a>
										</article><article>
											<a href="quentin_ravaux.html" class="image imageartiste"><img src="musique/quentin ravaux/PROFIL.jpg" alt="" /></a>
											<h3 class="major">Quentin Ravaux</h3>
											
											<a href="quentin_ravaux.html" class="special">Explorer</a>
										</article>
									</section>

								</div>
							</div>

					</section>
