
    <section id="footer">
                <div class="inner">
                  <h2 class="major">Informations</h2>




                  <ul class="contact">


                    <li class="icon brands fa-instagram"><a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/eat.experienceauditive/">INSTAGRAM</a></li>
                    <li class="icon brands fa-facebook-f"><a target="_blank" rel="noopener noreferrer"href="https://www.facebook.com/EAT-Exp%C3%A9rience-Auditive-T%C3%A9l%C3%A9commienne-107136037815858">FACEBOOK</a></li>
                    <li class="icon brands fa-soundcloud"><a target="_blank" rel="noopener noreferrer" href="https://soundcloud.com/experienceauditive">SOUNDCLOUD</a></li>
                    <li class="icon solid fa-envelope"><a target="_blank" rel="noopener noreferrer" href="mailto:anh-vu.nguyen@telecom-paris.fr">anh-vu.nguyen@telecom-paris.fr</a></li>

                  </ul>
                  <ul class="copyright">
                    <li>Site créé par Anh-Vu NGUYEN</li>
                    <li>Design: <a  target="_blank" rel="noopener noreferrer" href="http://html5up.net">HTML5 UP</a></li>
                  </ul>
                </div>
              </section>

            </div>

            <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/browser.min.js"></script>
            <script src="assets/js/breakpoints.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>
            <script  src="assets/js/script.js"></script>
            <script  src="assets/js/suffleartists.js"></script>



          </body>
          </html>