 <article>
                <div class="player">

                  <div class="cover" >

                    <img class="img_cover" src="place__hoder1" alt="">

                  </div>
                  <div  class="popup hide" >
                   <p >place__hoder2</p>
                 </div>
                   <div class="info">
                    <div class="title">place__hoder3</div>
                    <div class="singer">place__hoder4</div>
                  </div>
                  <div class="volume-box">
                    <span class="volume-down"><i class="material-icons">remove</i></span>
                    <input type="range" class="volume-range" step="1" value="80" min="0" max="100"
                    oninput="vmusic.volume = this.value/100">
                    <span class="volume-up"><i class="material-icons">add</i></span>
                  </div>
                  <div class="btn-box">
                    <i class="material-icons repeat" >repeat</i>
                    <i class="material-icons favorite active" >favorite</i>
                    <i class="material-icons volume" >volume_up</i>
                  </div>
                  <div class="music-box">
                    <input type="range" step="1" class="seekbar" value="0" min="0" max="100" >

                    <audio class="music-element" preload="metadata">
                      <source src="place__hoder5" type="audio/place__hoder6">
                      </audio>
                      <span class="current-time">0:0</span><span class="duration">0:0</span>
                      <span class="play" >
                        <i class="material-icons">play_arrow</i>
                      </span>
                    </div>

                  </div>
                </article>